/*Universal Selector: Below contains universal style rules for the whole document*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Body: Code contains background color for the body*/
body {
    background-color: #d9dcd6;
}

/*Header and Child Elements: Grouped below are styles for the header and the elements contained within the header (child elements).*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*Figure: Below contains rules for the Main Banner Image (The Hero Image)*/
figure
img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*Selector Class: This section contains the rules which can be applied to elements to move them to the right or left. 
Mainly used for the images in the <main> section. */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Main and Child Elements: Grouped below are the rules for the main element and child elements within.*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

p {
    font-size: 16px;
}

/*Main-Sections and Child Elements: Grouped below are the rules for the section elements located inside main element and the child elements within the section element.*/
main
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main
img {
    max-height: 200px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Aside and Child Elements: Grouped below are the rules for the Aside element and the child elements within.*/
aside{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside 
section {
    margin-bottom: 32px;
    color: #ffffff;
}

aside 
img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Footer and elements within: Grouped below are the rules for the footer and the elements within.*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
 
h4 {
    font-size: 20px;
}
